<section  class="articles">
    <h1>Angular</h1>
    <article>
      <form>
      <div class="article-wrapper">
        <div class="article-body">
          <div class="textArea">
          <label for="themeName"></label>
          <input type="text" name="themeName" id="themeName" placeholder="Post Name" #inputThemeName>
          <textarea name="postText" #textAreaText id="postText" placeholder="Theme of the post" cols="75" rows="10"></textarea>
         
          </div>
          <div class="buttuns">
             <button  class="post">Post</button>
             <button class="cancel">Cancel</button>
          </div>
        </div>
      </div>
    </form>
    </article>
  </section>