<section  class="articles">
  <h1>Add Post</h1>
  <article>
    <form [formGroup]="postForm" (ngSubmit)="addPost()">
    <div class="article-wrapper">
      <div class="article-body">
        <div class="textArea">
        <label for="themeName"></label>
        <input type="text" formControlName="postName" name="postName"  id="themeName" placeholder="Post Name">
        <textarea type="text" name="themeText" formControlName="postText"  id="themeText" placeholder="" cols="75" rows="10"></textarea>
       
        </div>
        <div class="buttouns">
           <button class="post">Post</button>
           <button class="update">Update</button>
        </div>
      </div>
    </div>
  </form>
  </article>
</section>