<div class="container">

  <div class="row">
      <div class="col-lg-4">
        <h1>Themes</h1>
          <div class="card card-margin" *ngFor="let theme of allThemes">
              <div class="card-header no-border">
                  <h3 class="card-title">{{theme.themeName}}</h3>
              </div>
              <div class="card-body pt-0">
                  <div class="widget-49">

                      <div class="widget-49-title-wrapper">
                          <div class="widget-49-date-primary">
                            <span class="widget-49-date-day">{{theme.id}}</span>
                          </div>
                          <div class="widget-49-meeting-info">
                              <span class="widget-49-pro-title">{{theme.themeText}}</span>
                          </div> 
                      </div>
                      
                      <div  class="widget-49-meeting-action">
                          <a  routerLink="/add-theme" class="addTheme">Add Theme</a>
                          <a *ngIf="isLoggedIn" (click)="deleteTheme(theme.id)" routerLink="/home" class="delete">Delete Theme</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

</div>
 
    
    

    