
    <div *ngIf="isLoding">
    <p>Loading...</p>
    </div>
    <section *ngIf="!isLoding" class="articles">
        <h1>Current Themes</h1>
        <article>
          <div class="article-wrapper">
            <div *ngFor="let theme of themes" class="article-body">
              <a routerLink="/:themeId" class="read-more">
                <h2>{{theme.themeName}}</h2>
              </a>
                <div class="subscribers">
                    
                    <p>Subscribers: <span>{{theme.subscribers.length || 0}}</span></p>
                </div>
                <div class="nick-name">
                    <p>Username: <span>{{theme.userId.username}}</span></p>
                    <p>Date: <time>{{theme.created_at}}</time></p>
                    <button *ngIf=" isLoggedIn && !isSubscribed(theme)" class="subscribe">Subscribe</button> 
                    <button *ngIf="!isLoggedIn && isSubscribed(theme)" class="unsubscribe">Subscribe</button> 
                </div>
            </div>
          </div>
        </article>
    </section>
    
    
    
    

    