
    <div *ngIf="isLoding">
        <p>Loading...</p>
    </div>

    <div *ngIf="!isLoding" class="container">
        <div class="box">
            <div class="header">
                <h1>Current Themes</h1>
            </div>
            <div *ngFor="let theme of themes" class="container">
                <a href="#" class="normal">
                    <h2>{{theme.themeName}}</h2>
                </a>
                <p>Date: <time>{{theme.created_at}}</time></p>
                <div class="nick-name">
                    <p>Username: <span>{{theme.userId.username}}</span></p>
                </div>
                <div class="subscribers">
                    <!-- <button class="subscribe">Subscribe</button> -->
                    <p>Subscribers: <span>{{theme.subscribers.length || 0}}</span></p>
                </div>
            </div>
        </div>
    </div>
