<div class="wrapper">
	<div class="logo">
		<img src="https://img.freepik.com/free-psd/3d-icon-social-media-app_23-2150049569.jpg?size=338&ext=jpg&ga=GA1.1.34264412.1710720000&semt=ais" alt="">
	</div>
	<div class="text-center mt-4 name">
		Register
	</div>
	<form [formGroup]="registerForm" (ngSubmit)="register()"class="p-3 mt-3">

		<div class="form-field d-flex align-items-center">
			<span class="far fa-user"></span>
			<input formControlName="id" type="text" name="id" id="id" placeholder="username">
		</div>

		<div class="form-field d-flex align-items-center">
			<span class="far fa-user"></span>
			<input  formControlName="email" type="email" name="email" id="email" placeholder="Email">
		</div>

		<div class="form-field d-flex align-items-center">
			<span class="fas fa-key"></span>
			<input  formControlName="password" type="password" name="password" id="password" placeholder="Password">
		</div>

		<div class="form-field d-flex align-items-center">
			<span class="fas fa-key"></span>
			<input  formControlName="rePassword" type="password" name="rePassword" id="rePassword" placeholder="Repeat Password">
		</div>
         
		


		<button type="submit" class="btn mt-3">Register</button>
	</form>
	<div class="text-center fs-6">
	 <a href="/login">Already have an account?</a>
	</div> 
	{{registerForm.value | json}} 
	
</div>