<section  class="articles">
    <h1>Angular</h1>
    <article>
      <div class="article-wrapper">
        <div class="article-body">
          <a routerLink="/:themeId" class="read-more">
            <h2>Jonh Down</h2><p>Date: <time>12345678I9</time></p>
          </a>  
            <div class="nick-name">
                <p>Likes: <span>5</span></p>  
            </div>
            <!-- //TODO: add comments and buttons to subscribe and unsubscribe -->
        </div>
      </div>
    </article>
</section>