<div class="header">
  <h1>My Blog</h1>
  <div class="nav">
    <ul>
      <li>
        <a routerLink="/login">Login</a>
      </li>
      <li>
        <a routerLink="/register">Register</a>
      </li>
      <li>
        <a routerLink="/profil">Profil</a>
      </li>
    </ul>
  </div>
</div>

<div class="menu">
<ul>
  <li>
    <a routerLink="/">Home</a>
  </li>
  <li>
    <a routerLink="/theme">Themes</a>
  </li>
  <li>
    <a routerLink="/addTheme">Add Theme</a>
  </li>
  <li>
    <a routerLink="/currentTheme">Current Theme</a>
  </li>
</ul>
</div> 
      
    

  
