<header>
  <div class="mini-navbar-wrap">
    <div class="logo-wrap">
      <p class="logo"><span class="logo">My Blog</span></p>
   </div>

   <div class="mini-navbar">
    <div *ngIf="!isLoggedIn" class="nav">
      <ul>
        <li>
          <a routerLink="/login">Login</a>
        </li>
        <li>
          <a routerLink="/register">Register</a>
        </li>
      </ul>
    </div>
   </div>
   <div  class="mini-navbar">
    <div *ngIf="isLoggedIn" class="nav">
      <ul>
        <li>
          <a routerLink="/profil">{{userName}} Profil</a>
        </li>
        <li>
          <a (click)="logout()" routerLink="/logout">Logout</a>
        </li>
      </ul>
    </div>
   </div>
  </div>

<!-- <div class="mini-navbar">
  <div class="nav">
<ul>
  <li>
    <a routerLink="/">Home</a>
  </li>
  <li>
    <a routerLink="/themes">Themes</a>
  </li>
</ul>
  </div>
  </div> -->
  <div class="mini-navbar"> 
  <div  class="nav">
    <ul>
      <li>
        <a routerLink="/">Home</a>
      </li>
      <li>
        <a routerLink="/themes">Themes</a>
      </li>
      <li>
        <a routerLink="/add-theme">Add Theme</a>
      </li>
      <li>
        <a routerLink="/current-theme">Current Theme</a>
      </li>
    </ul>
  </div>
</div> 
</header>
      
    

  
