@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400');

*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body{
	font-family: 'Source Sans Pro', sans-serif;
	background-color: rgb(230, 233, 236);
}
.logo{
  font-size: 50px;
  padding: 20px;
  text-align: center;
  color: rgb(20, 19, 19);
  
}

nav{
  margin-top: 45px;
	position: absolute;
	left: 50%;
	width: 100%;
	text-align: center;
	
	transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	
	&:after {
		content:"";
		display:table;
		clear:both;
	}
	
	ul{
		li{
			list-style: none;
			display: inline-block;
      overflow: hidden;
			
			a{
				display: block;
				padding: 10px 40px;
				text-decoration: none;
				font-size: 18px;
				position: relative;
				color: fade(white, 80%);
				transform: translateX(-15%);
				border-radius: 50px;
				width: 130%;
				text-align: center;
				transition-duration: 0.25s;
				
				&:hover{
					color: white;
				}
			}
			
			&.active{
				a{
					color: white;
				}
			}
			
			&:nth-child(1){
				a{
					background-color: rgb(242, 76, 76);
				}
			}
			
			&:nth-child(2n){
				a{
					background-color: rgb(57, 155, 57);
				}
			}
			
			&:nth-child(3n){
				a{
					background-color: rgb(88, 88, 222);
				}
			}
			
			&:nth-child(4n){
				a{
					background-color: rgb(139, 96, 139);
				}
			}
			
			&:nth-child(5n){
				a{
					background-color: orange;
				}
			}

			&:nth-child(6n){
				a{
					background-color: rgb(171, 171, 91);
				}
			}

			&:nth-child(7n){
				a{
					background-color: pink;
				}
			}

			&:nth-child(8n){
				a{
					background-color: grey;
				}
			}
		}
	}
	
}