
<!-- <div>
    <p>Loading...</p>
</div> -->
    <section  class="articles">
        <h1>Current Posts</h1>
        <article>
          <div class="article-wrapper">
            <div *ngFor="let post of posts" class="article-body">
                <h3>{{post.themeId.themeName}}</h3>
                <a routerLink="/:postId" class="read-more">
                    <p>{{post.userId.username}}</p>
                    <p><span>{{post.created_at}}</span></p>
                </a>
               </div>
            </div>
         
        </article>
    </section>
    
    




















<!-- <aside>
    <div class="aside">
        <h2 class="title">
            Current Posts
        </h2>
        <div>
            <div *ngFor="let post of posts" class="aside-theme">
                <a mat-button="#">
                    <h3>{{post.themeId.themeName}}</h3>
                    <p>{{post.userId.username}}</p>
                    <p><span>{{post.created_at}}</span></p>
                </a>
            </div>
            
        </div>
    </div>
</aside> -->