<div class="container" *ngFor="let post of allPosts">
  <h1>Posts</h1>
  <div class="row">
      <div class="col-lg-4">
          <div class="card card-margin">
              <div class="card-header no-border">
                  <h3 class="card-title">{{post.postName}}</h3>
              </div>
              <div class="card-body pt-0">
                  <div class="widget-49">

                      <div class="widget-49-title-wrapper">
                          <div class="widget-49-date-primary">
                              <span class="widget-49-date-day">{{post.id}}</span>
                          </div>
                          <div class="widget-49-meeting-info">
                              <span class="widget-49-pro-title">{{post.postText}}</span>
                             
                          </div>
                      </div>
    
                      <div class="widget-49-meeting-action">
                          <a routerLink="/add-post" class="addPost">Add Post</a>
                          <a *ngIf="isLoggedIn"(click)="deletePost(post.id)" routerLink="/home" class="delete">Delete Post</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
 