<div class="container">
    <div class="card">
      <div class="card__header">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTIzlUdtwKcWqryMklZhA0uxd0hQTuikDgDZQ&s" alt="card__image" class="card__image" width="600">
      </div>
      <div class="card__body">
        <span class="tag tag-blue">Angular</span>
        <h4>What's new in 2022 Angular17</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi perferendis molestiae non nemo doloribus. Doloremque, nihil! At ea atque quidem!</p>
      </div>
      <div class="card__footer">
        <div class="user">
          <img src="https://i.pravatar.cc/40?img=1" alt="user__image" class="user__image">
          <div class="user__info">
            <h5>John Doe</h5>
            <small>2h ago</small>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card__header">
        <img src="https://st3.depositphotos.com/1350793/13201/i/450/depositphotos_132018578-stock-photo-javascript-concept-with-hand.jpg" alt="card__image" class="card__image" width="600">
      </div>
      <div class="card__body">
        <span class="tag tag-brown">JavaScript</span>
        <h4>What's  new in 2024 in JavaScript</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi perferendis molestiae non nemo doloribus. Doloremque, nihil! At ea atque quidem!</p>
      </div>
      <div class="card__footer">
        <div class="user">
          <img src="https://i.pravatar.cc/40?img=2" alt="user__image" class="user__image">
          <div class="user__info">
            <h5>Jony Doe</h5>
            <small>Yesterday</small>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card__header">
        <img src="https://st2.depositphotos.com/4021139/7394/i/450/depositphotos_73943203-stock-photo-python-concept.jpg" alt="card__image" class="card__image" width="600">
      </div>
      <div class="card__body">
        <span class="tag tag-red">Python</span>
        <h4>What's new in 2024 Puthon</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi perferendis molestiae non nemo doloribus. Doloremque, nihil! At ea atque quidem!</p>
      </div>
      <div class="card__footer">
        <div class="user">
          <img src="https://i.pravatar.cc/40?img=3" alt="user__image" class="user__image">
          <div class="user__info">
            <h5>John Doe</h5>
            <small>2d ago</small>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
        <div class="card__header">
          <img src="https://img-b.udemycdn.com/course/750x422/5654544_49bd_2.jpg" alt="card__image" class="card__image" width="600">
        </div>
        <div class="card__body">
          <span class="tag tag-red">React</span>
          <h4>What's new in 2024 React</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi perferendis molestiae non nemo doloribus. Doloremque, nihil! At ea atque quidem!</p>
        </div>
        <div class="card__footer">
          <div class="user">
            <img src="https://i.pravatar.cc/40?img=3" alt="user__image" class="user__image">
            <div class="user__info">
              <h5>John Doe</h5>
              <small>2d ago</small>
            </div>
          </div>
        </div>
    </div>
  </div>